.badge-palette-component {
  background-color: white;
  width: 409px;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.badge-palette-input {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.input > div {
  flex: 1;
}
